extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Trevor Werner

        p Full Stack JavaScript Developer

        .about-bio

          p From a Quality Assurance Engineer with experience in Agile teams to (semi) self-taught Full Stack Developer, I've learned to appreciate the power of teamwork, creativity and efficiency.  While completing a 14 week coding bootcamp provided a sufficient knowledge base to perform in my role as an QA Engineer, it was the time I've spent since self-studying where I've gained the confidence in my ability to independently and creatively think my way through complex software challenges.  I'm looking for an opportunity to apply my strengths and experience to an equally motivated team.  


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li C# and Java
          li Git and GitHub
          li VS Code, Eclipse
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li SQL
          li Selenium and Cucumber (BDD) Testing

        h6 Contact Info

        #contact-phone  
         i.fas.fa-phone-alt
         p (202) 255-0330
        #contact-email
         i.fas.fa-envelope
         p trevorwerner@hotmail.com


        a.btn-link(href='https://www.linkedin.com/in/trevor-werner/' target="_blank")
         |
         i.fab.fa-linkedin
         |   LinkedIn
        a.btn-link(href='https://github.com/Trevor5008' target="_blank")
         |
         i.fab.fa-github
         |   Github

    nav.nav
      a(href='/')
        span &larr;
        |  Back