extends layout.pug

block content

  article.portfolio-intro

    h1 LATEST PROJECTS

    p The following is a collection of my recent work, please check back regularly as these projects are updated as I continue to hone my skills... 

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in data 
         .cell
            a(href=`/project/${project.id}` target="_blank")
               img.thumbnail(src=`/static${project.image_urls[0]}` alt=`${project.project_name} thumbnail`)
               h5= project.project_name

