<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Trevor's Portfolio
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/images/profile_photo.jpg', alt='My Photo')
        .dev-intro-box

          h5 Trevor Werner

          p Welcome! My name is Trevor, and I am Full-Stack Web Developer based in Tampa, FL.  This site represents a journey that began back in January of 2019 when I attended my first coding bootcamp.  Since that time, I've gained a passion for software as a medium for modern problem-solving. Thanks for visiting!    

          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          span Trevor Werner

      block content

  script(src='/static/js/script.js')