extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1= projectData.project_name

        p= projectData.description

      .project-tech-links-box.box
        h6 Technologies
        ul
         each lang in projectData.technologies
            li= lang
        if projectData.live_link
          a.btn-link(href= projectData.live_link target="_blank")
          |
          i.fas.fa-play
          |   Live Demo  
        a.btn-link(href= projectData.github_link target="_blank")
         |
         i.fab.fa-github 
         |   Github Repo
    .project-img-box.box
      - let n= 1
         while n < projectData.image_urls.length
            img.project-img(src=`/static${projectData.image_urls[n++]}`, alt='')
    nav.nav
      a(href='/')
        span &larr;
        |  Back
